---
files:
  /etc/nginx/conf.d/mime.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      types {
        application/javascript js mjs;
        text/javascript js mjs;
        text/css css;
        text/html html htm;
        image/png png;
        image/jpeg jpg jpeg;
        image/svg+xml svg;
      }